<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GabiMinecraft02 Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <h1>Welcome to the GabiMinecraft02 Website!</h1>
    <p>Go to my backup servers, YouTube, Discord, Snapchat, TikTok and my website!</p>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <p>© 2025 GabiMinecraft02 | All rights reserved</p>
</footer>

</body>
</html>
