{% extends "base.html" %}
{% block content %}

<section>
    <h2>🌐 Website</h2>
    <a href="https://minecraft-ps3-moding-website.onrender.com/" class="btn">Minecraft Modding Website</a>
</section>

<section>
    <h2>🖥️ Servers</h2>
    <a href="https://discord.gg/ex8Jgrm255" class="btn">PS3 Backup Discord</a>
    <a href="https://discord.gg/dZUEhNZWWD" class="btn">YouTube Server</a>
    <a href="https://snapchat.com/t/NuFx4joB" class="btn">Snapchat Chat</a>
</section>

<section>
    <h2>🎥 YouTube & TikTok</h2>
    <a href="https://www.youtube.com/@GabiMinecraft02ps3" class="btn">YouTube</a>
    <a href="https://www.tiktok.com/@gabiminecraft028?is_from_webapp=1&sender_device=pc" class="btn">TikTok</a>
</section>

<section>
    <h2>💾 Backups</h2>
    <a href="{{ url_for('backup') }}" class="btn">Wanters V1</a>
</section>

{% endblock %}
